# build output
build/
build-*/
build_*/
/bin
/lib
/tmp

# runtime dump
**/*.ll

# documentation build output
doc_build/

# dependencies
thirdparty/*
!thirdparty/llvm-project/
!thirdparty/patches/

# Visual Studio Code
.vscode/

# Python
__pycache__/
/**/*venv*

# Jetbrains IDE
.idea/
.clion.source.upload.marker

# local test/dev scripts
/tmpdaphne.daphne
/*.daphne
/*.mlir
/*.log

# cuda compiler
compiler-debug-cuda.txt
compiler-trace-cuda.txt

# tags file
tags
tags.lock
tags.temp

# clangd cache
.cache/

# gdb
.gdb_history

# compile commands
compile_commands.json

# release scripts output
/artifacts

bin/
logs/
profiler/
precompiled-dependencies/
/cmake*/
/data
thirdparty/llvm-project
test/runtime/.DS_Store
test/api/.DS_Store
test/.DS_Store
scripts/.DS_Store
scripts/benchmarks/.DS_Store
scripts/examples/.DS_Store
scripts/examples/daphnelib/.DS_Store
src/.DS_Store
src/api/.DS_Store
src/api/python/.DS_Store
src/api/python/operator/.DS_Store
src/compiler/.DS_Store
src/parser/.DS_Store
src/runtime/.DS_Store
test/.DS_Store
test/api/.DS_Store
*.code-workspace
