# build output
build/
build-*/
build_*/
/bin
/lib
/tmp

# dependencies
thirdparty/*
!thirdparty/llvm-project/
!thirdparty/patches/
!thirdparty/sources/TSLGenerator

# Visual Studio Code
.vscode/

# Python
__pycache__/
/venv*

# Jetbrains IDE
.idea/

tmpdaphne.daphne

# release scripts output
/artifacts

# clang cache
.cache


# local symlinks for convenience
./TSLGen
./TSL


bin/
logs/
profiler/
precompiled-dependencies/
/cmake*/
/data
# clang cache
.cache

