# build output
build/
build-*/
build_*/
/bin
/lib
/tmp

# documentation build output
doc_build/

# dependencies
thirdparty/*
!thirdparty/llvm-project/
!thirdparty/patches/

# Visual Studio Code
.vscode/

# Python
__pycache__/
/**/*venv*

# Jetbrains IDE
.idea/
.clion.source.upload.marker

tmpdaphne.daphne

# release scripts output
/artifacts

bin/
logs/
profiler/
precompiled-dependencies/
/cmake*/
/data
