<div class="tab-pane fade show active pt-1">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <form (submit)="onSubmit()">
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                        <div class="mt-4 row">
                            <div class="col">
                                <label>Deployment:</label>
                                <select class="form-select" name="cluster" aria-label="Cluster" [(ngModel)]="cluster" (ngModelChange)="updateLimits()">
                                    <option [value]="Cluster.local_machine">Local</option>
                                    <option [value]="Cluster.vega">Vega</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-4 row" *ngIf="cluster == Cluster.vega">                            
                            <div class="alert alert-warning" role="alert">
                                In order to run DAPHNE on Vega make sure you access and have configured the API (username, RSA key, etc.)
                            </div>
                            <div class="col-4 d-flex">
                                <label for="exampleInputEmail1">Vega HPC 2FA:</label>
                            </div>
                            <div class="col-8 d-flex">
                                <input type="text" class="form-control" name="vega_token" aria-describedby="token" autocomplete="off" placeholder="Number" [(ngModel)]="vega_token" required pattern="\d{6}">
                            </div>
                        </div>
                        <div class="mt-4 row">
                            <div class="col">
                                <label>Execution mode:</label>
                                <select class="form-select" name="execution-type" aria-label="Execution Mode" [(ngModel)]="executionMode">
                                    <option [value]="ExecutionMode.single_node">Single node</option>
                                    <option [value]="ExecutionMode.distributed">Distributed execution</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-4 row" *ngIf="executionMode == ExecutionMode.distributed">
                            <div class="col d-flex" >
                                <label for="customRange" class="form-label">Distributed workers:</label>
                                <input type="range" class="form-range custom-range mx-2" min="2" [max]="maxNumberNodes" step="1"
                                    id="customRange" [(ngModel)]="numberOfNodes" name="numberOfNodes">
                                    {{ numberOfNodes }}
                            </div>
                        </div>
                        <div class="mt-4 row" *ngIf="executionMode === ExecutionMode.distributed">
                            <label for="backend_options">Distributed backend:</label>
                            <div class="col" id="backend_options">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="mpi" id="mpi"
                                        [value]="DistributedBackend.mpi" [(ngModel)]="dist_backend">
                                    <label class="form-check-label" for="mpi">
                                        MPI
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="algoRadioOptions" id="algoRadio2"
                                        [value]="DistributedBackend.sync_grpc" [(ngModel)]="dist_backend">
                                    <label class="form-check-label" for="algoRadio2">Synchronous gRPC</label>
                                </div>
                            </div>
                        </div> 
                        <div class="mt-4 row">
                            <label for="backend_options">Daphne flags:</label>
                            <div class="col d-flex">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="vec" [(ngModel)]="vectorization" name="vectorization">
                                    <label class="form-check-label" for="vec">
                                        Vectorization
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="select_mat_repr" [(ngModel)]="select_matrix_repr" name="select_matrix_repr">
                                    <label class="form-check-label" for="select_mat_repr">
                                        Select Matrix Representations
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="use_cuda" [(ngModel)]="use_cuda" name="use_cuda">
                                    <label class="form-check-label" for="use_cuda">
                                        Use CUDA
                                    </label>
                                </div>
                            </div>
                        </div>    
                        <!-- Vectorization settings -->
                        <ng-container *ngIf="vectorization">
                        <div class="mt-4 row" >
                            <div class="col d-flex" >
                                <label for="customRange" class="form-label">Number of cores:</label>
                                <input type="range" class="form-range custom-range mx-2" min="2" [max]="maxCores" step="1"
                                    id="customRange" value="2"  [(ngModel)]="coresPerNode" name="coresPerNode">
                                    {{ coresPerNode }}
                            </div>
                        </div>
                        <div class="mt-1 row" >
                            <div class="col-auto d-flex m-1" >
                                <label for="partitioning" class="form-label">Partitioning:</label>
                                <select class="form-select" name="partitioning" aria-label="partitioning" [(ngModel)]="partitioning" 
                                ng-options>
                                    <option *ngFor="let partitioning of partitioning_options" [ngValue]="partitioning.flag" [title]="partitioning.description">{{partitioning.flag.split("=")[1]}}</option>
                                </select>
                            </div>
                            <div class="col-auto d-flex m-1" >
                                <label for="queue_layout" class="form-label">Queue layout:</label>
                                <select class="form-select" name="queue_layout" aria-label="queue_layout" [(ngModel)]="queue_layout" 
                                ng-options>
                                    <option *ngFor="let layout of queue_layout_options" [ngValue]="layout.flag" [title]="layout.description">{{layout.flag.split("=")[1]}}</option>
                                </select>
                            </div>
                            <div class="col-auto d-flex m-1" >
                                <label for="victim_selection" class="form-label">Victim Selection:</label>
                                <select class="form-select" name="victim_selection" aria-label="victim_selection" [(ngModel)]="victim_selection"
                                ng-options>
                                    <option *ngFor="let victim_selection of victim_selection_options" [ngValue]="victim_selection.flag" [title]="victim_selection.description">{{victim_selection.flag.split("=")[1]}}</option>
                                </select>
                            </div>
                        </div>
                        </ng-container>
                        <div class="mt-4 row">
                            <div class="col">
                                <label class="col col-form-label">Select execution algorithm:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-select" name="selectedAlgorithm" aria-label="Algorithm selection" [(ngModel)]="selectedAlgorithm" (ngModelChange)="onChange($event)"
                                ng-options>
                                    <option *ngFor="let algorithm of Algorithms" [ngValue]="algorithm">{{algorithm.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-4 row">
                                    <div class="col">
                                        <label for="inputSize">Input:</label>
                                        <select class="form-select" aria-label="Input size" name="inputSize" [(ngModel)]="inputSize" *ngIf="selectedAlgorithm && selectedAlgorithm.arguments.length > 0">
                                            <option *ngFor="let arg of selectedAlgorithm.arguments" [ngValue]="arg.arguments">{{arg.name}}</option>
                                        </select>
                                        <div class="alert alert-secondary" role="info" *ngIf="selectedAlgorithm && selectedAlgorithm.arguments.length === 0">No input provided for this algorithm</div>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                        <div class="mt-5 row">
                            <div class="col">
                                <button type="submit" class="btn btn-success" *ngIf="!running_daphne">Launch
                                    workload</button>
                                <button type="button" class="btn btn-danger" *ngIf="running_daphne" (click)="killDaphne()">Kill
                                    workload</button>
                            </div>
                            <div class="col d-flex justify-content-start">
                                <div class="alert alert-success" role="alert" *ngIf="show_success_alert">
                                    Job completed
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="show_canceled_alert">
                                    Job canceled
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="show_error_message">
                                    {{error_message}}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="output-tab" data-bs-toggle="tab" data-bs-target="#output"
                            type="button" role="tab" aria-controls="output" aria-selected="true" (click)="selected_output_panel = 'output-panel'"
                            [class.active] = "selected_output_panel === 'output-panel'"
                            >
                            Terminal output</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph"
                            type="button" role="tab" aria-controls="graph" aria-selected="false" (click)="selected_output_panel = 'aggregate-statistics-panel'"
                            [class.active] = "selected_output_panel === 'aggregate-statistics-panel'"
                            >
                            Aggregate statistics</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="output" role="tabpanel" aria-labelledby="output-tab" [ngClass]="{'active': selected_output_panel === 'output-panel'}">
                        <div class="row mt-4"  >
                            <div class="col" >
                                <app-output-panel [text]="result_output"></app-output-panel>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="graph" role="tabpanel" aria-labelledby="graph-tab" [ngClass]="{'active': selected_output_panel === 'aggregate-statistics-panel'}">
                        <div class="row mt-4" >
                            <div class="col">
                                <app-aggregate-statistics-panel [text]="agg_statistics"></app-aggregate-statistics-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>