name: check-clang-format

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.18.1
      with:
        source: 'src test'
        exclude: './third_party ./external'
        extensions: 'h,cpp'
        clangFormatVersion: 18.1.3
